<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ember Rollbar Test</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" onclick={{action 'log'}}>Log</button>
      <button class="btn btn-secondary" onclick={{action 'debug'}}>Debug</button>
      <button class="btn btn-info" onclick={{action 'info'}}>Info</button>
      <button class="btn btn-warning" onclick={{action 'warn'}}>Warn</button>
      <button class="btn btn-warning" onclick={{action 'warning'}}>Warning</button>
      <button class="btn btn-danger" onclick={{action 'error'}}>Error</button>
      <button class="btn btn-danger" onclick={{action 'critical'}}>Critical</button>
    </div>
  </div>
</div>